:root {
  --primary-color: #1a2a57;
  --secondary-color: #ffa366;
  --tertiary-color: white;
  --font-family: "Arial, sans-serif";
  --font-size: 16px;
  --header-font-size: 24px;
  --paragraph-font-size: 14px;
}

/* LOGIN PAGE */ /* LOGIN PAGE */ /* LOGIN PAGE */ /* LOGIN PAGE */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--tertiary-color);
  height: 100vh;
}
.login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
  height: 500px;
  width: 100%;
  max-width: 300px;
  border: 1px solid var(--primary-color);
}
.login-div1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 390px;
  width: 100%;
  max-width: 290px;
  padding: 10px;

  flex-direction: column;
}
.login-div1A {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 30px;
  width: 100%;
  max-width: 280px;
  padding: 10px;
}

.login-form {
  background-color: var(--tertiary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 310px;
  max-width: 280px;
  padding: 10px;
}
.A {
  width: 100%;
  max-width: 280px;
  height: 150px;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  display: flex;
}

.B {
  width: 100%;
  max-width: 280px;
  height: 150px;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  display: flex;
}

.login-div2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 100%;
  max-width: 280px;
  padding: 10px;
}

input {
  height: 50px;
  border-radius: 5px;
  width: 100%;
  max-width: 260px;
  padding-left: 10px;
}

input::placeholder {
  color: var(--primary-color);
  font-size: var(--paragraph-font-size);
}

input:focus {
  outline: none;
  border-color: var(--secondary-color);
  /* box-shadow: 0 0 0 2px #1a2a57; */
}

.login-button {
  width: 100%;
  max-width: 270px;
  padding: 0.75rem;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: var(--header-font-size);
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.login-button:hover {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  font-size: var(--header-font-size);
  border: 2px solid var(--primary-color);
}

.login-button:active {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}
.text2 {
  color: #1a2a57;
  font-weight: 800;
}
.text2:hover {
  color: #ffa366;
}

/* SIGN UP PAGE */ /* SIGN UP PAGE */ /* SIGN UP PAGE */ /* SIGN UP PAGE */

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 100vh;
}
.signup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
  height: 500px;
  width: 100%;
  max-width: 300px;
  border: 1px solid #1a2a57;
}
.signup-div1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 410px;
  width: 100%;
  max-width: 290px;
  padding: 10px;

  flex-direction: column;
}
.signup-div1A {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 30px;
  width: 100%;
  max-width: 280px;
  padding: 10px;
}

.signup-form {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 400px;
  max-width: 280px;
  padding: 10px;
}
.C {
  width: 100%;
  max-width: 280px;
  height: 200px;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  display: flex;
}
.D {
  width: 100%;
  max-width: 280px;
  height: 130px;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  display: flex;
}
.signup-div2B {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 100%;
  max-width: 280px;
  padding: 10px;

  flex-direction: row;
  margin-top: 20px;
}

.signup-button {
  width: 100%;
  max-width: 280px;
  padding: 0.75rem;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  border: none;
  border-radius: 5px;
  font-size: var(--header-font-size);
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.signup-button:hover {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  font-size: var(--header-font-size);
  border: 2px solid var(--primary-color);
}

.signup-button:active {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}

.link {
  color: var(--primary-color);
  font-weight: 800;
  text-decoration: none;
  font-size: var(--font-size);
}
.link:hover {
  color: var(--secondary-color);
}
/* SPLASH SCREEN */ /* SPLASH SCREEN */ /* SPLASH SCREEN */ /* SPLASH SCREEN */
.splash-screen-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--tertiary-color);
  height: 100vh;
  width: 100%;
  animation: fadeIn 0.5s ease-in;
  flex-direction: column;
}
.videoBusy {
  width: 800px;
  height: 50px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.title {
  font-size: 50px;
  color: var(--primary-color);
  font-weight: 800;
  text-align: center;
}

.color-change {
  animation: colorChange 4s infinite alternate;
}

@keyframes colorChange {
  0% {
    color: var(--primary-color);
  }
  50% {
    color: var(--secondary-color);
  }
  100% {
    color: var(--primary-color);
  }
}

/* HOME PAGE */ /* HOME PAGE */ /* HOME PAGE */ /* HOME PAGE */ /* HOME PAGE */
.home-container {
  display: grid;
  grid-template-areas:
    "header header"
    "content content"
    "footer footer";
  grid-gap: 10px;
  grid-template-rows: 0.2fr 3fr;
  background-color: var(--tertiary-color);
  height: 100vh;
  width: 100%;
}

.header {
  grid-area: header;
  background-color: #8e44ad;
}

.content {
  grid-area: content;
  display: grid;
  grid-template-columns: 0.2fr 3fr;
  grid-gap: 10px;
}

.main {
  background-color: #3498db;
}

.sidebar {
  background-color: #e74c3c;
}
