/* LOGIN PAGE */ /* LOGIN PAGE */ /* LOGIN PAGE */ /* LOGIN PAGE */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 100vh;
}
.login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
  height: 500px;
  width: 100%;
  max-width: 300px;
  border: 1px solid #1a2a57;
}
.login-div1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 390px;
  width: 100%;
  max-width: 290px;
  padding: 10px;

  flex-direction: column;
}
.login-div1A {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 30px;
  width: 100%;
  max-width: 280px;
  padding: 10px;
}

.login-form {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 310px;
  max-width: 280px;
  padding: 10px;
}
.A {
  width: 100%;
  max-width: 280px;
  height: 150px;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  display: flex;
}

.B {
  width: 100%;
  max-width: 280px;
  height: 150px;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  display: flex;
}

.login-div2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 100%;
  max-width: 280px;
  padding: 10px;
}

input {
  height: 50px;
  border-radius: 5px;
  width: 100%;
  max-width: 260px;
  padding-left: 10px;
}

input:focus {
  outline: none;
  border-color: #1a2a57;
  box-shadow: 0 0 0 2px #1a2a57;
}

.login-button {
  width: 100%;
  max-width: 270px;
  padding: 0.75rem;
  background-color: #1a2a57;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 22px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.login-button:hover {
  background-color: #325ac8;
  color: white;
  border: 3px solid #1a2a57;
}

.login-button:active {
  background-color: #1a2a57;
  color: white;
}
.text2 {
  color: #1a2a57;
  font-weight: 800;
}
.text2:hover {
  color: #ffa366;
}

/* SIGN UP PAGE */ /* SIGN UP PAGE */ /* SIGN UP PAGE */ /* SIGN UP PAGE */

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 100vh;
}
.signup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
  height: 500px;
  width: 100%;
  max-width: 300px;
  border: 1px solid #1a2a57;
}
.signup-div1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 410px;
  width: 100%;
  max-width: 290px;
  padding: 10px;

  flex-direction: column;
}
.signup-div1A {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 30px;
  width: 100%;
  max-width: 280px;
  padding: 10px;
}

.signup-form {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 400px;
  max-width: 280px;
  padding: 10px;
}
.C {
  width: 100%;
  max-width: 280px;
  height: 200px;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  display: flex;
}
.D {
  width: 100%;
  max-width: 280px;
  height: 130px;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  display: flex;
}
.signup-div2B {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 100%;
  max-width: 280px;
  padding: 10px;

  flex-direction: row;
  margin-top: 20px;
}

.signup-button {
  width: 100%;
  max-width: 280px;
  padding: 0.75rem;
  background-color: #1a2a57;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 22px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.signup-button:hover {
  background-color: #325ac8;
  color: white;
  border: 3px solid #1a2a57;
}

.signup-button:active {
  background-color: #1a2a57;
  color: white;
}

.link {
  color: #1a2a57;
  font-weight: 800;
  text-decoration: none;
}
.link:hover {
  color: #ffa366;
}
